nav{
    height: 35px;
    color: black ;
    background-color: white !important;
    box-shadow: 1.5px 1.5px 1.5px 1.5px  rgb(223, 222, 222);
}
.navbar-toggler{
    padding: 0% !important;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 17px;
    vertical-align:0% !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% !important;
}
.collapse{
    background-color:white;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: none !important;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem !important;
    margin-left: 40px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
li{
    margin-left: 40px;
}
a{
  font-size: 80%;
}


