.row{
    margin-left: 0% !important;
    margin-right: 0% !important;
    margin-top: 0% !important;
    --bs-gutter-x: 0rem !important;
    /* padding: 1%; */
    height: 100%;
}
.items,.filter{
    height: 100%;
}
.display{
    /* padding: 1%; */
    height: 100%;
    overflow: hidden !important;
  }
  .container-fluid{
    overflow: hidden !important;
  }